// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Change post fonts

.post-title,
.post-link,
.page-heading {
    font-family: "Grenze", sans-serif;
    line-height: 1;
}
.post-title {
    font-size: 3rem;
}
.post-link {
    font-size: 2rem;
}
.page-heading {
    font-size: 3rem;
}

.site-header > .wrapper {
    font-family: "Jacquard 12", sans-serif;
    font-size: 2rem;
}
.site-header > .wrapper > .site-title {
    font-family: "Jacquard 12", sans-serif;
    font-size: 2.5rem;
}

.site-header {
    border-top: none;
    border-bottom: 1px solid $border-color-01;
}
/////////////////////////////////////////////

.main-content {
    position: relative;
    display: flex;
    justify-content: center;
}

.page_peripherals {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: stretch;
}

.sidebar {
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: transparent;
    width: 30rem;
    display: flex;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 2rem;
}

.page_middle {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2rem;
    position: absolute;
}

// deletes abot me if the screen is small enough

@media (max-width: 110em) {
    .page_peripherals {
        display: none;
    }
    #toc-post {
        display: unset;
    }
    #about-me-home {
        display: unset;
    }
}

sidebar > h1 {
    font-family: "Grenze", sans-serif;
    font-size: 2em;
}

// ####
.custom_toc > h2 {
    font-family: "Grenze", sans-serif;
    line-height: 0.5;
}

tbody {
    width: 100%;
    display: table;
    overflow-x: hidden;
}
