<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="main-content">
    <aside class="sidebar" >
        {%- include sidebar.html -%}
    </aside>

    <main class="page-content" aria-label="Content">

        <div class="wrapper centerer"style="margin-left:0;margin-right:0">
        {{ content }}

      </div>
    </main>

  </div>

<!--{%- include footer.html -%}-->
  </body>
</html>
