<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}


    <div class="main-content" id="main-content">
        <div class="page_peripherals">
            <aside class="sidebar">
                {%- include about_me.html -%}
            </aside>
            <aside class="sidebar">
                {%- include toc.html -%}
            </aside>
        </div>

        <div class="page_middle">
            {{ content }}
        </div>

    </div>
    <!--{%- include footer.html -%}-->
  </body>
</html>
